USE [QLSANPHAM]
GO
/****** Object:  Table [dbo].[LOAISP]    Script Date: 23/5/2024 7:27:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAISP](
	[MALOAI] [varchar](10) NOT NULL,
	[TENLOAI] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 23/5/2024 7:27:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[MASP] [varchar](10) NOT NULL,
	[TENSP] [nvarchar](30) NULL,
	[DONGIA] [bigint] NULL,
	[MALOAI] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[LOAISP] ([MALOAI], [TENLOAI]) VALUES (N'1', N'Giày')
INSERT [dbo].[LOAISP] ([MALOAI], [TENLOAI]) VALUES (N'3', N'Bút')
INSERT [dbo].[LOAISP] ([MALOAI], [TENLOAI]) VALUES (N'4', N'Quạt')
GO
INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [DONGIA], [MALOAI]) VALUES (N'10', N'Điện thoại Xiaomi Ultra S33', 1600, N'6')
INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [DONGIA], [MALOAI]) VALUES (N'11', N'Quạt Mitshubishi', 1500, N'4')
INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [DONGIA], [MALOAI]) VALUES (N'12', N'Quạt thông gió', 1200, N'4')
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD FOREIGN KEY([MALOAI])
REFERENCES [dbo].[LOAISP] ([MALOAI])
GO
